//COLORS
$color-primary-light:#586a55;
$color-primary:#414d3e;
$color-primary-dark:#313b2f;
$color-grey-light-1:#f7f7f7;
$color-pale-white:#ebe7e7;
$color-white:#fff;
$color-black:#000000;
$color-golden-light:#f5dc7b;
$color-golden-med:#d7b011;
$color-golden:#a8890d;

//GRID

$grid-width:114rem;
$gutter-vertical:rem;
$gutter-vertical-small : 3rem;
$gutter-horizontal:6rem;