footer{
    background-color: $color-primary;
    text-align: center;

    &--main-social{
        margin-bottom: 0;
        margin-top: 5rem;
        @include respond(tab-port){
            text-align: center;
            width: 100%;
            margin-top: 4rem;
         }
    }

    & p{
        margin-bottom: 5rem;
        color: $color-white;
        width: 100%;
    }
}
