.myimage {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    @include respond(tab-port){
        text-align: center;
        float: none;
    }
    img{
    border: 1px solid $color-primary-light ;
    border-radius: 5px;
    padding: 0.5rem;
    @include respond(tab-port){
        border-radius: 50%;
        height: 30rem;
        width: 30rem;
        margin-left: auto;
    margin-right: auto;
    }
    }


}

.intro{
    @include respond(tab-port){
        width: 100%;
    }
}

.myinfo{
    margin-bottom: 1.5rem;
}


// .myimage::after {
//     content: '';
//     position: absolute;
//     display: block;
//     left: -3rem;
//     top: 2rem;
//     height: 25rem;
//     width: 25rem;
//     border: 7px solid $color-golden;
//     z-index: -1;
//     @include respond(tab-port){
//         display: none;
//         height: 0;
//         width: 0;
//         top: 0;
//         left: 0;
//         position: relative;
//      }
// }