.myimage {
    position: relative;
    margin-bottom: 4rem;
    margin-left: 3rem;
    border: 10px solid $color-grey-light-1 ;
    z-index: 1;
    @include respond(tab-port){
        border: 0;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    }
}

.myimage::after {
    content: '';
    position: absolute;
    display: block;
    left: -3rem;
    top: 2rem;
    height: 25rem;
    width: 25rem;
    border: 7px solid $color-golden;
    z-index: -1;
    @include respond(tab-port){
        display: none;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        position: relative;
     }
}