/*ICONS*/
.small-icon{
	font-size: 2.2rem;
	vertical-align: middle;
}

.xtra-small-icon{
	font-size: 1.8rem;
	vertical-align: middle;
	
}


ion-icon[name="logo-github"],
ion-icon[name="logo-linkedin"],
ion-icon[name="logo-twitter"]{
	text-align: center;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}


ion-icon[name="logo-github"]:hover{
	color: #6cc644;
}
ion-icon[name="logo-linkedin"]:hover{
	color: #007bb5;
}
ion-icon[name="logo-twitter"]:hover{
	color: #1da1f2;
}