/*---------- MAIN NAVIGATION -------------*/
.header--main-nav{
    list-style: none;
    float: left;
    @include respond(tab-port){
        height: 0;
        overflow: hidden;
    }
}
.header--main-nav li{
    display: inline-block;
    margin-left: 4rem;
    margin-top: 3rem;

    @include respond(tab-port){
        list-style: none;
        display: block;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    
}

@include respond(tab-port){
    .show-links{
        height: 100vh;
        background-color:#555555;
        width: 25vw;
    }

}

.header--main-nav li a:link,
.header--main-nav li a:visited{
    text-decoration: none;
    color:$color-white;
    text-transform: uppercase;
    transition: color 0.2s, transform 0.2s;

}

.header--main-nav li a:hover,
.header--main-nav li a:active{
    color: #f1c40f;
    transform: scale(1.2,1.2);
    @include respond(tab-port){
        padding-left: 1.5rem;
       }
}   



.header--main-social{
    list-style: none;
    float: right;
}
.header--main-social li{
    display: inline-block;
    margin-right: 4rem;
    margin-top: 3.6rem;
    @include respond(tab-port){
        display: none;
       }
}

.header--main-social li a:link,
.header--main-social li a:visited{
    text-decoration: none;
    color:$color-white;
}


.sticky{
	position:fixed;
	top:0;
	left: 0;
    width: 100%;
    height: 7rem;
	background-color:$color-primary-light;
	box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    @include respond(tab-port){
        display: none;
       }
}


.footer--main-social{
    list-style: none;
}
.footer--main-social li{
    display: inline-block;
    margin-right: 4rem;
    margin-top: 3.8rem;
}

.footer--main-social li a:link,
.footer--main-social li a:visited{
    text-decoration: none;
    color:$color-white;
}