.section-blog {
    background-color: $color-grey-light-1;
    padding: 5.5rem;
}

.blog-container{
    max-width: 1140px;
    margin: 2rem auto;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-box{
    width: auto;
    margin: 1.25rem;
    padding: 0.8rem;
}

